<%= form_for(course) do |f| %>

  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

  <div class="row">
    <%= f.label :title %>
    <div class="col-xs-4 input-group"><%= f.text_field :title, class: "form-control" %></div>
  </div>

  <div class="row">
    <%= f.label :locations %>
    <div class="col-xs-4 input-group"><%= f.text_field :location_list, value: f.object.location_list.to_s, class: "form-control" %></div>
  </div>

  <div class="row">
    <%= f.label :styles %>
    <div class="col-xs-4 input-group"><%= f.text_field :style_list, value: f.object.style_list.to_s, class: "form-control" %></div>
  </div>

  <div class="row">
    <%= f.label :description %>
    <div class="col-xs-4 input-group"><%= f.text_area :description, class: "form-control" %></div>
  </div>

  <div class="row">
    <%= f.label :registration_start %>
    <div class="col-xs-4 input-group"><%= f.date_select :registration_start, class: "form-control" %></div>
  </div>

  <div class="row">
    <%= f.label :registration_end %>
    <div class="col-xs-4 input-group"><%= f.date_select :registration_end, class: "form-control" %></div>
  </div>

  <div class="row actions">
    <%= f.submit "Save", class: "btn btn-success" %>
  </div>
<% end %>

<% if course.errors.any? %>
  <div class="notice-holder row">
    <% course.errors.full_messages.each do |message| %>
      <p class="notice alert alert-danger"><%= message %></p>
    <% end %>
  </div>
<% end %>
