<h1><%= @course.title %></h1>
<p>
  <%= simple_format(@course.description) %>
</p>

<h4>Registration</h4>
<p>
  <strong>Start:</strong>
  <%= @course.registration_start %>
</p>
<p>
  <strong>End:</strong>
  <%= @course.registration_end %>
</p>

<%= link_to 'Edit', edit_course_path(@course), class:"btn btn-primary" %>
<%= link_to 'Destroy', @course, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %>

<h2>Tickets</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Label</th>
      <th>Price</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @course.tickets.each do |ticket| %>
      <tr data-link="<%= edit_course_ticket_path(@course, ticket) %>">
        <td><%= ticket.label %></td>
        <td><%= ticket.price %></td>
        <td><%= link_to 'Remove', [@course, ticket], method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Add Ticket', new_course_ticket_path(@course), class: "btn btn-success" %>

<h2>Registrations</h2>
<p>
  <strong>Accepted (L/F):</strong>
  <%= "#{@course.leads.where(status:"accepted").count} / #{@course.follows.where(status:"accepted").count}" %>
  <br />
  <strong>Waitinglist (L/F):</strong>
  <%= "#{@course.leads.where(status:"waitinglist").count} / #{@course.follows.where(status:"waitinglist").count}" %>
  <br />
  <strong>Triage (L/F):</strong>
  <%= "#{@course.leads.where(status:"triage").count} / #{@course.follows.where(status:"triage").count}" %>
</p>
<%= render partial: 'registrations/registrations_table', locals: {registrations: @course.registrations.order(:created_at)} %>

<div class="row">
  <h2>Export</h2>
  <%= link_to 'CSV', members_course_path(@course, format: "csv"), class: "btn btn-info" %>
  <%= link_to 'Excel', members_course_path(@course, format: "xls"), class: "btn btn-success" %>
</div>
