<h1><%= @course.title %></h1>
<p>
  <%= @course.description %>
</p>

<p>
  <strong>Start:</strong>
  <%= @course.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @course.end %>
</p>
<%= link_to 'Edit', edit_course_path(@course), class:"btn btn-primary" %>

<h2>Participants</h2>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Role</th>
    </tr>
  </thead>

  <tbody>
    <% @course.registrations.each do |registration| %>
    <% person = registration.person %>
      <tr data-link="<%= url_for(person) %>">
        <td><%= person.firstname %></td>
        <td><%= person.lastname %></td>
        <td><%= role_label(registration.role) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
