<h1><%= @course.title %></h1>
<p>
  <%= @course.description %>
</p>

<p>
  <strong>Start:</strong>
  <%= @course.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @course.end %>
</p>
<%= link_to 'Edit', edit_course_path(@course), class:"btn btn-primary" %>
<%= link_to 'Destroy', @course, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %>

<h2>Tickets</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Label</th>
      <th>Price</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @course.tickets.each do |ticket| %>
      <tr>
        <td><%= ticket.label %></td>
        <td><%= ticket.price %></td>
        <td><%= link_to 'Edit', edit_course_ticket_path(@course, ticket), class:"btn btn-primary" %></td>
        <td><%= link_to 'Remove', [@course, ticket], method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Add Ticket', new_course_ticket_path(@course), class: "btn btn-success" %>

<h2>Participants</h2>
<p>
  <strong>Leads/Follows:</strong>
  <%= "#{@course.leads} / #{@course.follows}" %>
</p>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Role</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @course.registrations.each do |registration| %>
    <% person = registration.person %>
      <tr data-link="<%= url_for(person) %>">
        <td><%= person.firstname %></td>
        <td><%= person.lastname %></td>
        <td><%= role_label(registration.role) %></td>
        <td><%= link_to 'Switch Role', switch_role_path(registration), method: :post, class:"btn btn-primary" %></td>
        <td><%= link_to 'Remove', registration, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
