<div id=lindy_admin_register_form_success style="display: none;">
  Successfully registered, check your mail!
</div>
<div id=lindy_admin_register_form_error style="display: none;">
  Something went wrong while registering, please try again later.
</div>
<div id=lindy_admin_register_form_empty style="display: none;">
  There are currently no courses available. Please check again later
</div>
<form id="lindy_admin_register_form" accept-charset="UTF-8">
  <div class="row">
    <h2>Filter</h2>
  </div>
  <div class="row">
    <h2>Courses</h2>
  </div>

  <div class="row">
    <ul id="courses_list"></ul>
  </div>
  <div id="role_container" class="row" style="display: none;">
    <h2 id="role">Role</h2>
    <%= radio_button_tag(:role, "1") %>
    <%= label_tag(:role_1, "Lead", class: "radio col-xs-6") %>
    <%= radio_button_tag(:role, "0") %>
    <%= label_tag(:role_0, "Follow", class: "radio col-xs-6") %>
  </div>

  <div id="personal_info" class="row">
    <h2>Personal info</h2>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <label for="email">Email</label>
      <div><input type="text" name="email" id="email" class="form-control" /></div>
    </div>


    <div class="col-xs-6">
      <label for="firstname">Firstname</label>
      <input type="text" name="firstname" id="firstname" class="form-control" />
    </div>

    <div class="col-xs-6">
      <label for="lastname">Lastname</label>
      <input type="text" name="lastname" id="lastname" class="form-control" />
    </div>

    <!--  Optional properties can be added by using name="additional[PROPERTY_NAME]" -->
    <div class="col-xs-12">
      <label for="note">Note</label>
      <textarea name="additional[note]" id="additional_note" class="form-control"></textarea>
    </div>
  </div>

  <div class="row actions">
    <input type="submit" name="commit" value="Save" class="btn btn-success" data-disable-with="Save" />
  </div>
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">

function populateCourses(course_select) {
  $.ajax(
    {
      url: "<%= api_courses_url(Apartment::Tenant.current) %>",
      method: "GET",
      crossDomain: true,
      success: function(data) {
        if(data != null && data.length > 0) {
          course_select.empty();
          $.each(data, function() {
           course = this;
           course_select.append('<option value="'+course["id"]+'">'+course["title"]+'</option>')
           addCourse(course);
          });

          $(ticketElementsSelector).click(onTicketClick);

          onCourseChange();
        } else {
          $(empty_message).show();
          $(form).hide();
        }
      },
      error: function(error){
        console.error("Could not fetch courses data", error);
      }
    }
  )
}
function addCourse(course) {


  $(courses_list).append(
    '<li class="course" data-course_id="'+course["id"]+'">'+
      '<div class="info_container">'+
        '<h3>'+course["title"]+'</h3>'+
        '<div class="description">'+course["description"]+'</div>'+
      '</div>'+
      '<ul class="tickets_list">'+
        getTicketsString(course)+
      '</ul>'+
    '</li>'
  );
}
function getTicketsString(course) {
  var ticketsList = $("<ul></ul>");
  $.each(course["tickets"], function(){
    var ticket = this;
    var price = (ticket["price_cents"]/100)
    $(ticketsList).append('<li class="ticket" data-course_id="'+course["id"]+'" data-ticket_id="'+ticket["id"]+'">'+
    ticket["label"]+' €'+ price +
    '</li>')
  })
  return ticketsList.html();
}

function onTicketClick(){
  ticketElement = $(this);
  courseId = ticketElement.data("course_id");
  ticketId = ticketElement.data("ticket_id");
  $(ticketElementsSelector).removeClass(selectedClass);

  if(selectedData["ticket_id"] != ticketId){
    selectedData["course_id"] = courseId;
    selectedData["ticket_id"] = ticketId;
    ticketElement.addClass(selectedClass);
    $('li.course:not([data-course_id="'+courseId+'"])').hide();
    $(role_container).show();
    $([document.documentElement, document.body]).animate({
        scrollTop: $("#role").offset().top - .25 * $(window).height()
    }, 1000);
  } else {
    selectedData["course_id"] = null;
    selectedData["ticket_id"] = null;
      $('li.course').fadeIn();
      $(role_container).fadeOut();
  }
}

function onCourseChange(e) {
  var course_id = course_select.val();

  $('input[type="submit"]').hide();

  $.ajax(
    {
      url: "<%= api_courses_url(Apartment::Tenant.current) %>/"+course_id,
      method: "GET",
      crossDomain: true,
      success: function(data){
        ticket_select.empty()

        $.each(data["tickets"], function() {
          ticket = this;
          ticket_select.append('<option value="'+ticket["id"]+'">'+ticket["label"]+'</option>')
        });

        $('input[type="submit"]').show();
      },
      error: function(error){
        console.error("Could not fetch ticket data", error);
      }
    }
  )

}

function submitData(data) {
  console.log("submitting", data);
  $.ajax(
    {
      url: "<%= api_register_url(Apartment::Tenant.current) %>",
      method: "POST",
      crossDomain: true,
      data: data,
      success: function(data){
        console.log("Success", data);
        $(form).hide();
        $(success_message).show();
      },
      error: function(error){
        console.error("Could not submit form", error);
        $(form).hide();
        $(error_message).show();
      }
    }
  )
}

// capture the submit
$('#lindy_admin_register_form').on('submit', function(e) { //use on if jQuery 1.7+
    e.preventDefault();  //prevent form from submitting
    var data = $("#lindy_admin_register_form :input").serializeArray();
    console.log(data);
    submitData(data)
});

var selectedClass = "selected";
var ticketElementsSelector = "ul.tickets_list li.ticket"
var form = $("#lindy_admin_register_form");
var success_message = $("#lindy_admin_register_form_success");
var error_message = $("#lindy_admin_register_form_error");
var empty_message = $("#lindy_admin_register_form_empty");

var courses_list = $("ul#courses_list");
var course_select = $("select#course");
var ticket_select = $("select#ticket");
var role_container = $("#role_container");

var selectedData = {};

$('input[type="submit"]').hide();
course_select.change(onCourseChange);
populateCourses(course_select);
</script>
