<div id=lindy_admin_register_form_success style="display: none;">
  Successfully registered, check your mail!
</div>
<div id=lindy_admin_register_form_error style="display: none;">
  Something went wrong while registering, please try again later.
</div>
<div id=lindy_admin_register_form_empty style="display: none;">
  There are currently no courses available. Please check again later
</div>
<form id="lindy_admin_register_form" accept-charset="UTF-8">
  <div class="row">
    <h2>Filter</h2>
    <div class="row">

      <div class="col-xs-6">
        <label for="style">Style</label>
        <select name="style" id="style" class="form-control"><option value="">Loading...</option></select>
      </div>

      <div class="col-xs-6">
        <label for="location">Location</label>
        <select name="location" id="location" class="form-control"><option value="">Loading...</option></select>
      </div>
    </div>
  </div>
  <div class="row">
    <h2>Courses</h2>
  </div>

  <div class="row">
    <ul id="courses_list"></ul>
  </div>
  <div id="role_container" class="row">
    <h2 id="role">Role</h2>
    <%= radio_button_tag(:role, "1") %>
    <%= label_tag(:role_1, "Lead", class: "radio col-xs-6") %>
    <%= radio_button_tag(:role, "0") %>
    <%= label_tag(:role_0, "Follow", class: "radio col-xs-6") %>
  </div>

  <div id="personal_info_container" class="row">
    <h2>Personal info</h2>

    <div class="col-xs-12">
      <label for="email">Email</label>
      <input type="text" name="email" id="email" class="form-control" />
    </div>

    <div id="firstname_container" class="col-xs-6">
      <label for="firstname">Firstname</label>
      <input type="text" name="firstname" id="firstname" class="form-control" />
    </div>

    <div id="lastname_container" class="col-xs-6">
      <label for="lastname">Lastname</label>
      <input type="text" name="lastname" id="lastname" class="form-control" />
    </div>

    <!--  Optional properties can be added by using name="additional[PROPERTY_NAME]" -->
    <div class="col-xs-12">
      <label for="note">Note</label>
      <textarea name="additional[note]" id="additional_note" class="form-control"></textarea>
    </div>

    <input type="submit" name="commit" value="Save" class="btn btn-success" data-disable-with="Save" />
  </div>

</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">

function populateFilter(selector, url) {
  $.ajax(
    {
      url: url,
      method: "GET",
      crossDomain: true,
      success: function(data) {
        setOptions(selector, data);
      },
      error: function(error){
        console.error("Could not fetch courses data", error);
      }
    }
  )
}

function setOptions(selector, data) {
  selector.empty()
  selector.append('<option value="0">All</option>')
  $.each(data, function(){
    option = this;
    selector.append('<option value="'+option+'">'+option+'</option>')
  })
}

function populateCourses(style, location) {


  var args = ""
  if(style != null){
    args += "style="+style;
  }
  if(location != null){
    if(args.length > 0) {
      args += "&"
    }
    args += "location="+location;
  }

  var url = "<%= api_courses_url(Apartment::Tenant.current) %>?" + args;
  $.ajax(
    {
      url: url,
      method: "GET",
      crossDomain: true,
      success: function(data) {
        $(courses_list).empty();
        if(data != null && data.length > 0) {
          $.each(data, function() {
           course = this;
           addCourse(course);
          });

          $(ticketElementsSelector).click(onTicketClick);
        } else {
          $(empty_message).show();
          $(form).hide();
        }
      },
      error: function(error){
        console.error("Could not fetch courses data", error);
      }
    }
  )
}
function addCourse(course) {


  $(courses_list).append(
    '<li class="course" data-course_id="'+course["id"]+'">'+
      '<div class="info_container">'+
        '<h3>'+course["title"]+'</h3>'+
        '<div class="description">'+course["description"]+'</div>'+
      '</div>'+
      '<ul class="tickets_list">'+
        getTicketsString(course)+
      '</ul>'+
    '</li>'
  );
}
function getTicketsString(course) {
  var ticketsList = $("<ul></ul>");
  $.each(course["tickets"], function(){
    var ticket = this;
    var price = (ticket["price_cents"]/100)
    $(ticketsList).append('<li class="ticket" data-course_id="'+course["id"]+'" data-ticket_id="'+ticket["id"]+'">'+
    ticket["label"]+' €'+ price +
    '</li>')
  })
  return ticketsList.html();
}

function onTicketClick(){
  ticketElement = $(this);
  courseId = ticketElement.data("course_id");
  ticketId = ticketElement.data("ticket_id");
  $(ticketElementsSelector).removeClass(selectedClass);

  if(selectedData["ticket"] != ticketId){
    selectedData["course"] = courseId;
    selectedData["ticket"] = ticketId;
    ticketElement.addClass(selectedClass);
    $('li.course:not([data-course_id="'+courseId+'"])').hide();
    $(role_container).show();
    $([document.documentElement, document.body]).animate({
        scrollTop: $("#role").offset().top - .25 * $(window).height()
    }, 1000);
  } else {
    selectedData["course"] = null;
    selectedData["ticket"] = null;
    $('li.course').fadeIn();
    $(role_container).fadeOut();
    $(personal_info_container).fadeOut();

    $('input[type=radio][name=role]').change(null);
    $('input[type=radio][name=role]').attr("checked", false);
    $('input[type=radio][name=role]').change(onRoleChange);
  }
}

function onStyleChange() {
  tag_style = $(this).val();
  if(tag_style == 0) {
    tag_style = null;
  }
  console.log("style", tag_style);
  populateCourses(tag_style, tag_location);
}

function onLocationChange() {
  tag_location = $(this).val();
  if(tag_location == 0) {
    tag_location = null;
  }
  populateCourses(tag_style, tag_location);
}

function onRoleChange() {
  $(personal_info_container).show();
  $([document.documentElement, document.body]).animate({
      scrollTop: $("#personal_info_container").offset().top - .25 * $(window).height()
  }, 1000);
}

function submitData(data) {
  console.log("submitting", data);
  $.ajax(
    {
      url: "<%= api_register_url(Apartment::Tenant.current) %>",
      method: "POST",
      crossDomain: true,
      data: data,
      success: function(data){
        console.log("Success", data);
        $(form).hide();
        $(success_message).show();
      },
      error: function(error){
        console.error("Could not submit form", error);
        $(form).hide();
        $(error_message).show();
      }
    }
  )
}

// capture the submit
$('#lindy_admin_register_form').on('submit', function(e) { //use on if jQuery 1.7+
    e.preventDefault();  //prevent form from submitting
    var data = $("#lindy_admin_register_form :input").serializeArray();
    var index = Object.keys(data).length;
    for(key in selectedData) {
      data[index] = {"name": key, "value": selectedData[key]};
      index++;
    }
    console.log(data);
    submitData(data)
});

var tag_style = null;
var tag_location = null;

var selectedClass = "selected";
var ticketElementsSelector = "ul.tickets_list li.ticket"
var form = $("#lindy_admin_register_form");
var success_message = $("#lindy_admin_register_form_success");
var error_message = $("#lindy_admin_register_form_error");
var empty_message = $("#lindy_admin_register_form_empty");

var courses_list = $("ul#courses_list");
var style_select = $("select#style");
var location_select = $("select#location");
var role_container = $("#role_container");
var personal_info_container = $("#personal_info_container");

var selectedData = {};

$(role_container).hide();
$(personal_info_container).hide();

style_select.change(onStyleChange);
location_select.change(onLocationChange);

$('input[type=radio][name=role]').change(onRoleChange);
populateCourses(null, null);
populateFilter(style_select, "<%= api_styles_url(Apartment::Tenant.current) %>")
populateFilter(location_select, "<%= api_locations_url(Apartment::Tenant.current) %>")
</script>
