<h1>Registration</h1>

<h2>Member</h2>
<%= render partial: 'members/members_table', locals: {members: [@registration.member]} %>

<h2>Ticket</h2>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Label</th>
      <th>Price</th>
      <th>Role</th>
    </tr>
  </thead>

  <tbody>
      <tr data-link="<%= course_path(@registration.course) %>">
        <td><%= @registration.ticket.label %></td>
        <td><%= @registration.ticket.price %></td>
        <td><%= role_label(@registration.role) %></td>
      </tr>
  </tbody>
</table>

<h2>Payment</h2>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Status</th>
      <th>Payment Url</th>
      <th>Remote id</th>
    </tr>
  </thead>

  <tbody>
      <tr data-link="<%= course_path(@registration.course) %>">
        <td><%= @registration.payment.status %></td>
        <td><%= @registration.payment.payment_url %></td>
        <td><%= @registration.payment.remote_id %></td>
      </tr>
  </tbody>
</table>

<h2>Mailings</h2>
<p>
  TODO
</p>

<%= link_to 'Destroy', @registration, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %>
