<h1>
  <%= @person.firstname %> <%= @person.lastname %>
</h1>
<p>
  <strong>Email:</strong>
  <%= @person.email %>
</p>

<p>
  <strong>Address:</strong>
  <%= @person.address %>
</p>
<%= link_to 'Edit', edit_person_path(@person), class: "btn btn-primary" %>

<h2>Courses</h2>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>Start</th>
      <th>End</th>
      <th>Role</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @person.registrations.each do |registration| %>
    <% course = registration.course %>
      <tr data-link="<%= url_for(course) %>">
        <td><%= course.title %></td>
        <td><%= course.start %></td>
        <td><%= course.end %></td>
        <td><%= role_label(registration.role) %></td>
        <td><%= link_to 'Remove', registration, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
