<h1>
  <%= @person.firstname %> <%= @person.lastname %>
</h1>
<p>
  <strong>Email:</strong>
  <%= @person.email %>
</p>

<p>
  <strong>Address:</strong>
  <%= @person.address %>
</p>
<%= link_to 'Edit', edit_person_path(@person), class: "btn btn-primary" %>

<h2>Courses</h2>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Start</th>
      <th>End</th>
      <th>Role</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @person.registrations.each do |registration| %>
    <% course = registration.course %>
      <tr>
        <td><%= course.title %></td>
        <td><%= truncate(course.description, length: 40) %></td>
        <td><%= course.start %></td>
        <td><%= course.end %></td>
        <td><%= registration.role ? "Lead" : "Follow" %></td>
        <td><%= link_to 'Show', course %></td>
        <td><%= link_to 'Edit', edit_course_path(course), class:"btn btn-primary" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
