<h1>
  <%= @person.firstname %> <%= @person.lastname %>
</h1>
<%= link_to 'Back', people_path, class: "btn btn-default" %>
<p>
  <strong>Email:</strong>
  <%= @person.email %>
</p>

<p>
  <strong>Address:</strong>
  <%= @person.address %>
</p>
<%= link_to 'Edit', edit_person_path(@person), class: "btn btn-primary" %>
