<h1>Members</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th><%=sortable "firstname" %></th>
      <th><%=sortable "lastname" %></th>
      <th><%=sortable "email" %></th>
      <th><%=sortable "address" %></th>
    </tr>
  </thead>

  <tbody>
    <% @members.each do |member| %>
      <tr data-link="<%= url_for(member) %>">
        <td ><%= member.firstname %></td>
        <td ><%= member.lastname %></td>
        <td ><%= member.email %></td>
        <td ><%= truncate(member.address, length: 40)%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="row">
  <%= paginate @members %>
</div>

<div class="row">
  <%= link_to 'New Member', new_member_path, class: "btn btn-success" %>
</div>

<div class="row">
  <h2>Export</h2>
  <%= link_to 'CSV', members_path(format: "csv"), class: "btn btn-info" %>
  <%= link_to 'Excel', members_path(format: "xls"), class: "btn btn-success" %>
</div>
