<h1>Members</h1>
<%= render partial: 'members_table', locals: {members: @members, can_sort: true} %>
<div class="row">
  <%= paginate @members %>
</div>

<div class="row">
  <%= link_to 'New Member', new_member_path, class: "btn btn-success" %>
</div>

<div class="row">
  <h2>Export</h2>
  <%= link_to 'CSV', members_path(format: "csv"), class: "btn btn-info" %>
  <%= link_to 'Excel', members_path(format: "xls"), class: "btn btn-success" %>
</div>
