<h1>
  <%= @member.firstname %> <%= @member.lastname %>
</h1>
<p>
  <strong>Email:</strong>
  <%= @member.email %>
</p>

<%= link_to 'Edit', edit_member_path(@member), class: "btn btn-primary" %>
<%= link_to 'Destroy', @member, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %>

<h2>Registrations</h2>
<%= render partial: 'registrations/registrations_table', locals: {registrations: @member.registrations} %>
