<div class="row">
  <h1>Settings</h1>
</div>

<%= form_tag(settings_path, method: 'put', class:"settings form-inline") do %>

<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item active">
    <a class="nav-link" data-toggle="tab" href="#payments">Payments</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#mail">Mail</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#notifications">Notifications</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade active in" id="payments">

    <div class="row">
      <h2>Mollie</h2>
      <p>
        The api key can be found by logging into you Mollie account.
        The result url is the url where the user will be redirected to after the
        payment process.
      <p>
      <div>
        <%= label_tag(:mollie_api_key, "API key") %>
        <%= text_field_tag(:mollie_api_key, @config.mollie_api_key) %>
      </div>
      <div>
        <%= label_tag(:mollie_redirect_url, "Result url") %>
        <%= text_field_tag(:mollie_redirect_url, @config.mollie_redirect_url) %>
      </div>
    </div>

  </div>
  <div class="tab-pane fade" id="mail">

    <div class="row">
      <h2>Mailjet</h2>
      <div>
        <%= label_tag(:mailjet_public_api_key, "Public API key") %>
        <%= text_field_tag(:mailjet_public_api_key, @config.mailjet_public_api_key) %>
      </div>
      <div>
        <%= label_tag(:mailjet_private_api_key, "Private API key") %>
        <%= text_field_tag(:mailjet_private_api_key, @config.mailjet_private_api_key) %>
      </div>
    </div>

    <% if !@config.mailjet_public_api_key.blank? && !@config.mailjet_private_api_key.blank? %>

      <div class="row">
        <h3>Sender</h3>
        <p>
          The sender that will be shown to people receiving the notification emails.
          The email address should be one of your approved email address in your Mailjet
          account
        </p>
        <div>
          <%= label_tag(:mailjet_sender_email_address, "Email address") %>
          <%= text_field_tag(:mailjet_sender_email_address, @config.mailjet_sender_email_address) %>
        </div>
        <div>
          <%= label_tag(:mailjet_sender_email_name, "Display name") %>
          <%= text_field_tag(:mailjet_sender_email_name, @config.mailjet_sender_email_name) %>
        </div>
      </div>

      <div class="row">
        <h3>Templates</h3>
        <p>
          Whenever a registration is created or changes state, an email will be sent to
          the members email address. Please fill out the template ids from Mailjet to
          be used on each event.
        </p>
      </div>

      <div class="row">

        <div class="col-md-6">
          <h4>Registered</h4>
          <div>
            <%= label_tag(:mailjet_registered_subject, "Subject") %>
            <%= text_field_tag(:mailjet_registered_subject, @config.mailjet_registered_subject) %>
          </div>
          <div>
            <%= label_tag(:mailjet_registered_template_id, "Template") %>
            <%= select_tag :mailjet_registered_template_id, options_for_select(@mailjet_templates.map{|x| [x[:name], x[:id]]}, @config.mailjet_registered_template_id), class: "form-control" %>
          </div>
        </div>

        <div class="col-md-6">
          <h4>Waitinglist</h4>
          <div>
            <%= label_tag(:mailjet_waitinglist_subject, "Subject") %>
            <%= text_field_tag(:mailjet_waitinglist_subject, @config.mailjet_waitinglist_subject) %>
          </div>
          <div>
            <%= label_tag(:mailjet_waitinglist_template_id, "Template") %>
            <%= select_tag :mailjet_waitinglist_template_id, options_for_select(@mailjet_templates.map{|x| [x[:name], x[:id]]}, @config.mailjet_waitinglist_template_id), class: "form-control" %>
          </div>
        </div>

        <div class="col-md-6">
          <h4>Accepted</h4>
          <div>
            <%= label_tag(:mailjet_accepted_subject, "Subject") %>
            <%= text_field_tag(:mailjet_accepted_subject, @config.mailjet_accepted_subject) %>
          </div>
          <div>
            <%= label_tag(:mailjet_accepted_template_id, "Template") %>
            <%= select_tag :mailjet_accepted_template_id, options_for_select(@mailjet_templates.map{|x| [x[:name], x[:id]]}, @config.mailjet_accepted_template_id), class: "form-control" %>
          </div>
        </div>

        <div class="col-md-6">
          <h4>Paid</h4>
          <div>
            <%= label_tag(:mailjet_paid_subject, "Subject") %>
            <%= text_field_tag(:mailjet_paid_subject, @config.mailjet_paid_subject) %>
          </div>
          <div>
            <%= label_tag(:mailjet_paid_template_id, "Template") %>
            <%= select_tag :mailjet_paid_template_id, options_for_select(@mailjet_templates.map{|x| [x[:name], x[:id]]}, @config.mailjet_paid_template_id), class: "form-control" %>
          </div>
        </div>

      </div>
      <div class="row">
        <br />
        <p>
          The variables that are available for each template are:
        </p>
        <ul>
          <li>member_firstname</li>
          <li>member_lastname</li>
          <li>course_title</li>
          <li>ticket_label</li>
          <li>payment_url</li>
          <li>registration_status</li>
        </ul>
      </div>

    <% end %>

  </div>
  <div class="tab-pane fade" id="notifications">

    <div class="row">
      <h2>Notifications</h2>

      <% if !@config.mailjet_public_api_key.blank? && !@config.mailjet_private_api_key.blank? %>
        <p>
          In addition to a notification email to the member, there will also be a mail
          sent to the an additional email, so administrators can be notified of any
          activity.
        </p>
        <div>
          <%= label_tag(:notification_email_address, "Email address") %>
          <%= text_field_tag(:notification_email_address, @config.notification_email_address) %>
        </div>
        <div>
          <%= label_tag(:mailjet_notification_email_template_id, "Template") %>
          <%= select_tag :mailjet_notification_email_template_id, options_for_select(@mailjet_templates.map{|x| [x[:name], x[:id]]}, @config.mailjet_notification_email_template_id), class: "form-control" %>
        </div>
      </div>
    <% else %>
      Please configure your mailjet keys under the Mailing tab, before configuring your notifications.
    <% end %>

  </div>
</div>

  <%= submit_tag "Save", class: "btn btn-success" %>
<% end %>
