<h1>New User</h1>

<%= form_for(@user) do |f| %>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="row">
    <%= f.label :role do %>
      <%= f.radio_button(:role, :member, checked: @user.role == "member") %>
      member
    <% end %>
    <%= f.label :role do %>
      <%= f.radio_button(:role, :admin, checked: @user.role == "admin") %>
      admin
    <% end %>
    <%= f.label :role do %>
      <%= f.radio_button(:role, :superadmin, checked: @user.role == "superadmin") %>
      superadmin
    <% end %>
  </div>

  <div class="row actions">
    <%= f.submit "Save", class: "btn btn-success" %>
  </div>
<% end %>

<% if @user.errors.any? %>
  <div class="notice-holder row">
    <% @user.errors.full_messages.each do |message| %>
      <p class="notice alert alert-danger"><%= message %></p>
    <% end %>
  </div>
<% end %>


<%= link_to 'Back', users_path %>
